<h1> Indies </h1>

<table>
  <form method="get" action="/search">
    <tr>
      <td><input type="text" name="search"></td>
      <td><input type="submit" value="search"></td>
    </tr>
  </form>
</table>
