@import 'normalize-rails';
@import 'bourbon';
@import 'neat';

$color-base:#fefefe;
$color-sub:#333333;
$color-key:#ff8a8a;
$color-border:#dedede;

$fontsize-base:16px;
$fontsize-title:30px;

/* SCSS */
body {
  background-color: $color-base;
  font-size: $fontsize-base;
}

table,th,td {
  border: 1px $color_border solid;
}
